.task-board {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 15px;
}

.task-card {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  background-color: darkgray !important;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: darkgray !important;
}

.task-action {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
